
@import "admin-lte/plugins/fontawesome-free/css/all.css";
@import "admin-lte/dist/css/adminlte.css";
/* @import "summernote/dist/summernote-bs4.css"; */


.login-box{
    transform: translateY(-100px);
    min-width: 700px;
}

.ellipsis{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.abbr {
    position: absolute;
    left: -1em;
    color: red;
  }

  .intro {
    background-color: yellow;
  }

  .required:after {
    content: "*";
    position: relative;
    font-size: inherit;
    color: red;
    padding-right: 0.25rem;
    font-weight: bold;
  }